/* Enter your custom styles here */

.customHeader {
    background-color: #f2f2f2 !important;
    color: #ffffff !important;
    font-weight: bold;
    text-align: center;
}

.sapMPanelHdr {
    color: white;
    font-weight: bold;background:#7b91a8 !important;
}