/* Enter your custom styles here */

#contentForm input {
    margin-right: 10px;
}

.customText {
    padding-top: 5px;
}

#application-zc303sdphotozc303rsphoto-display-component---RentalView--contentForm--FC-NoHead--Grid-wrapperfor-__vbox0 {
    width: 100%;
}

.customToolbar {
    background-color: #D8D8D8 !important;
}