/* Enter your custom styles here */

.customToolbar {
    color: white !important;
    font-weight: bold !important;
    background: #7b91a8 !important;
}


.customHeader {
    background-color: #f2f2f2 !important;
    color: #ffffff !important;
    font-weight: bold;
    text-align: center;
}



.customLabel{
   
    color: white !important;
    font-weight: bold !important;
}